@bit_major
#N
clr_me
clk
rst_n

#S

current_metric_00.*
current_metric_01.*
current_metric_10.*
current_metric_11.*

#W
bm_00_00.*
bm_00_10.*
bm_01_00.*
bm_01_10.*
bm_10_01.*
bm_10_11.*
bm_11_01.*
bm_11_11.*

#E

servivor_select_00
servivor_select_01
servivor_select_10
servivor_select_11




